header
{
   
    background: url(imagens/fundo.png);
    padding: 20px 0;
}

h1
{
    text-shadow: 4px 4px 2px #000000;
    transition: 400ms;
    text-align: right;
    color: #8c443b;
    font-size: 55px;
    font-style: italic;
    font-family: cursive;
}

h1:hover
{
    opacity: 0.8;
}

h1:first-letter
{
    color: #1e1102;
    font-size: 75px;
}

h2
{
    text-align: right;
    color: #8c443b;
    font-size: 25px;
    font-style: italic;
}

a /* tirando o sublinhado */
{
    text-decoration: none;
    color: #3b2206;
}

p
{
    text-align: center;
}

#logo
{
    width: 5%;
    opacity: 0.8;
    transition: 400ms; 
}

#logo:hover
{
    opacity: 1;
}

body
{
    background: #eeb174;
}

.menu
{
    position: relative;
    transition: 1s all;
    float: left;
}

.menu li:hover
{
    background: #3b2206;
    color: white;
}
.menu li:first-child:hover
{
    background: #eeb174;
    color: #3b2206;
}
.menu li:active
{
    border: #3b2206;
}

.menu a:hover
{
    background: #3b2206;
    color: white;
}

.menu a:active
{
    font-weight: bold;
}

li
{
    margin: 0 1.5%;
    padding: 5px 10px;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    list-style-type: none;
}

ul
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: bold;
}

/* MENU DROPDOWN */
nav ul li ul
{
    position: absolute;
    top: 30px;
    left: 230px;
    padding: 0px 0px;
    background-color: #eeb174;
    display: none;
}

nav ul li:hover ul{display: block;}

nav ul li ul li{
    display: block;
    width: 200px;
}

/* Fim MENU DROPDOWN */

.contato
{
    display: inline;
    font-weight: bold;
    font-size: 25px;
}

.imagemFundo
{
    text-align: right;
    font-size: 18px;
}
.publicacoes
{
    text-align: center;
}

form label, form legend
{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
